*{
    margin: 0  ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
   
    color: #ededed;

}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 10%;
    background-color:#081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.home{
    height: 100vh;
    background:#ffffff;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 10%;
}

.home-cotent{
    
    max-width: 600px;
    
}

.home-cotent h1{
    color:#000000;
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-cotent h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#ffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-cotent h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    font-family:'Khmer OS Moul';
    color:rgb(0, 0, 0);
}

.home-cotent h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#ffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
}

.home-cotent p{
    position: relative;
    color: black;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-cotent p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#ffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-cotent .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-cotent .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#ffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
    z-index: 2;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color:#081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background-color: red;
}

.btn-box a::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background:#081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover:before{
    width: 100%;

}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color:#00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;

}

.home-map::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#ffffff;
    animation: showRight 2s ease forwards;
    animation-delay: .4s;
}

.home-footer{
    position:relative;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: transparent;
    font-size: 30px;
    color:#000000;
    font-weight:500;
}

.home-footer::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#ffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
}

.home-paragraph{
    color:#000000;
}

@keyframes showRight{
    100%{
        width: 0;

    }
}

